@font-face {
    font-family: 'Viking';
    src: url('fonts/PR Viking.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Spartacus';
    src:url('fonts/Spartacus-KVdLp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
    body{
    height: 100%;
    background-image: url(bg/bg.png);
    background-repeat: no-repeat; 
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    

  }
  .table tr th ,.table tr td {
    font-family: 'Spartacus','Viking';
    
}
.table tr th{
    color: #571F12;
    font-size: xx-large;
    
}
.table tr td{
    color: black;
    font-size: large;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.table {
    width: 80%;
    border-color: black;
    
}

 

  